/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  #header {
    text-align: center;
    color: #0077fffb;
    font-size: 1.5rem;
    margin: 10px;
  }

  #linked-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #linked-list li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
  }

  #linked-list li:last-child::after {
    content: none;
  }

  #linked-list a::after {
    content: '';
    width: 2px;
    height: 30px;
    background-color: #007bff;
    position: absolute;
    left: 53%;
    bottom: -30px;
    transform: translateX(-50%);
  }

  .linked-list .node {
    background-color: #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    overflow: hidden;
    position: relative;
  }
  
  /* .linked-list .node img {
    width: 100%;
    height: 100%;
    margin-right: 15px;
    object-fit: cover;
  } */
  
  .linked-list .node + .node {
    margin-left: 10px;
  }
  

  #linked-list .content {
    flex: 1;
    padding: 10px;
    margin-left: 4%;
    margin-right: 4%;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  #linked-list .content p {
    margin: 0;
    font-size: 0.9rem;
  }